<%- model_class = Post -%>
<div class="page-header">
  <h1>Top SEO News</h1>
</div>
<ol>
  <% @posts.each do |post| %>
    <li>
      <a href="<%= post.url =%>"><%= post.title %></a>
      <span class="domain">(<%= post.host %>)</span>
    </li>
  <% end %>
</ol>
